ion-title {
    font-weight: bolder;
    font-size: 1.2em;
    text-align: center;
}

ion-item ion-label h2 {
    font-size: 1.4em;
    font-weight: bold;
}

ion-item ion-label p {
    color: #969696
}

ion-button {
    font-weight: bold;
    text-transform: uppercase;
}